---
http_interactions:
- request:
    method: get
    uri: https://data.fcc.gov/api/license-view/basicSearch/getLicenses?format=json&searchValue=0026529388
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"Info","Errors":{"Err":[{"code":"110","msg":"No matches found
        for quick search"}]}}'
  recorded_at: Tue, 19 Dec 2017 03:12:30 GMT
recorded_with: VCR 4.0.0
