---
http_interactions:
- request:
    method: get
    uri: https://data.fcc.gov/api/license-view/basicSearch/getLicenses?format=json&searchValue=0026525634
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"OK","Licenses":{"page":"1","rowPerPage":"100","totalRows":"2","lastUpdate":"Dec
        18, 2017","License":[{"licName":"Wheeler, Thomas E","frn":"0026525634","callsign":"KD9IPI","categoryDesc":"Personal
        Use","serviceDesc":"Amateur","statusDesc":"Cancelled","expiredDate":"05/12/2027","licenseID":"3919531","licDetailURL":"http://wireless2.fcc.gov/UlsApp/UlsSearch/license.jsp?__newWindow=false&licKey=3919531"},{"licName":"Wheeler,
        Thomas E","frn":"0026525634","callsign":"WA9FOA","categoryDesc":"Personal
        Use","serviceDesc":"Vanity","statusDesc":"Active","expiredDate":"06/02/2027","licenseID":"3924978","licDetailURL":"http://wireless2.fcc.gov/UlsApp/UlsSearch/license.jsp?__newWindow=false&licKey=3924978"}]}}'
  recorded_at: Tue, 19 Dec 2017 03:12:28 GMT
recorded_with: VCR 4.0.0
